doctype html
html
  head
    title Buscar película
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Buscar película por título

    form(action="/film" method="POST")
      input(type="text" name="title" placeholder="Introduce el título" required)
      button(type="submit") Buscar
